 <!doctype html>

<html>
<div class="hero-unit">
 <head>
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Home</title>
   <meta name="description" content="">
   <meta name="author" content="">
   <%= stylesheet_link_tag "application", :media => "all" %>
   <%= javascript_include_tag "application" %>
   <%= csrf_meta_tags %>
   
 </head>
 <body>
 	<FONT FACE="cursive" SIZE=6 COLOR="red"><center>SERVICE AT HOME </font></center>
 	<br><br>
	<FONT FACE="cursive" SIZE=3 COLOR="blue"><center>Esta diseñando el sofware para la empresa ARMOTODO MULTISERVICIOS la cual es colombiana, con sede en Medellín (Antioquia), dedicada a la prestación de servicios de instalación para empresas comercializadoras o fabricantes de productos para el hogar y la oficina.  Al tercerizar los servicios, se puede contar con un departamento de mantenimiento cumpliendo con todas sus funciones, pero sin la más mínima preocupación de la logística del mismo. También ofrecemos los servicios de consumo que se enfocan en el mercado residencial, donde se busca brindar una alternativa a los clásicos trabajos informales que normalmente brindan poca o ninguna garantía sobre los trabajos realizados, y sobre los que el consumidor en muchas ocasiones carece de protección legal en caso de inconformidad o fraude.
	Estamos comprometidos con nuestros clientes a prestar un servicio eficiente, pero más que nada ofrecemos la total calidad en cada uno de nuestros trabajos. Contamos con técnicos capacitados y con amplia experiencia para cada proyecto.  Nos distinguimos en la efectividad de nuestros trabajos y brindamos  énfasis en la supervisión personalizada.
	 
	Una instalación adecuada garantiza que el producto dure más tiempo.  Eso hace que sea importante utilizar los servicios profesionales de ARMOTODO MULTISERVICIOS la compañía de su confianza.</font></center>
 </body>
<br>
 <center><%= link_to image_tag('images.jpg')%></center><!--codigo para la imagen de presentacion-->
</html>
