<%- model_class = CalificacionServicio -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human %></h1>
</div>

<div class='calificacion_servicio'>
  <p><%= @calificacion_servicio.cliente.nombre %></p>
  <p><%= @calificacion_servicio.tipo_calificacion.nombre %></p>
  <p><%= @calificacion_servicio.observaciones %></p>
</div>