
<%- model_class = TipoCalificacion -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human %></h1>
</div>

<div class='tipo_calificacion'>

  <p><%= @tipo_calificacion.nombre %></p>
</div>

