  <th>Estado</th>
  <th>fecha</th>
  <th>hora</th>
  <th>empleado</th>
  <th>solicitud de servicio</th>
  <th>cliente



<p><%= @servicio.cliente.nombre %>,</p>

<p>SAH le agradece diligenciar la siguiente encuesta de satisfacción del servicio!</p>

<p><%= link_to "Calificación Servicio SAH", new_calificacion_servicio_url(@user) %></p>


  
